@import 'variables/template';

@import 'details/libs';
@import 'details/fonts';
@import 'details/footer';
@import 'details/modal';
@import 'details/animate';

@import 'index/major';
@import 'index/tasks';
@import 'index/materials';
@import 'index/myth';
@import 'index/location';
@import 'index/stages';
@import 'index/presentation';
@import 'index/headband';
@import 'index/look';