<!DOCTYPE html>
html(lang="ru")
	
	include head.jade

	body#body

		.loader
			
			.loader__main

				.loader__square

					span
					span
					span

				.loader__square

					span
					span
					span

				.loader__square

					span
					span
					span

				.loader__square

					span
					span
					span

		.wrapper
												
			block content
			
			include block/footer.jade
				
		include scripts.jade