extends ../template.jade

block title

	title LAYS

block content

	include ../index/major.jade
	
	include ../index/tasks.jade
	
	include ../index/materials.jade
	
	include ../index/myth.jade
	
	include ../index/location.jade
		
	include ../index/headband.jade
	
	include ../index/look.jade
	