extends ../template.jade

block title

	title PEPSICO

block content

	include ../index/major.jade
	
	include ../index/tasks.jade
	
	include ../index/materials.jade
	
	include ../index/myth.jade
	
	include ../index/location.jade
	
	include ../index/stages.jade
	
	include ../index/presentation.jade
		
	include ../index/headband.jade
	
	include ../index/look.jade
	