footer.footer

	.footer__container

		img(src='img/footer-img.png' class='footer__img' alt='footer-img')

		.footer__content

			.footer__name Иван Иван Иванович

			.footer__post Директор по маркетингу компании PEPSI CO

			.footer__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas cursus sem ipsum, sed scelerisque diam fringilla eu. Phasellus com modo, magna a lobortis dictum, mi est ullamcorper justo, quis cong<br><br>ue erat nunc et nisi. Proin viverra efficitur eros. Pellentesque volutpat finibus libero, a lacinia metus lobortis eget. Vestibulum at odio ex.<br><br>Duis auctor gravida ultricies. Etiam vestibulum cursus enim a lacinia.