.location{
	padding-top: 5em;
	@media (max-width: 767px) {
		padding-top: 2em;
	}
	&__container{
		max-width: 86.9em;
		width: 100%;
		padding: 0 15px;
		margin: 0 auto;
		position: relative;
		z-index: 2;
	}
	&__title{
		color: #000000;
		font-family: "Muller";
		font-size: 5.47em;
		font-weight: 800;
		line-height: 1.5em;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 0.4em;
		&-num{
			color: #0244cf;
			font-family: "Gentlemens Script";
			font-size: 3.07em;
			font-weight: 400;
			@media (max-width: 767px) {
				font-size: 3.86em;
			}
		}
		@media (max-width: 767px) {
			font-size: 2.46em;
			padding-bottom: 0.75em;
		}
	}
	&__titlesub{
		text-align: center;
		color: #000000;
		font-family: "Muller";
		font-size: 2.58em;
		font-weight: 300;
		line-height: 1.38em;
		text-transform: uppercase;
		@media (max-width: 767px) {
			font-size: 1.4em;
		}
	}
	&__set{
		display: flex;
		flex-wrap: wrap;
		margin-left: -1.87em;
		@media (max-width: 767px) {
			padding-top: 0.5em;
		}
	}
	&__item{
		padding-top: 5em;
		padding-left: 1.87em;
		width: 33.3%;
		display: flex;
		align-items: center;
		@media (max-width: 767px) {
			max-width: 22.4em;
			margin: 0 auto;	
			width: 100%;
			padding-top: 1.4em;
		}
	}
	&__num{
		white-space: nowrap;
		color: #0244cf;
		font-family: "Carbon2";
		font-size: 4.974em;
		font-weight: 400;
		line-height: 1em;
		padding-right: 0.375em;
		@media (max-width: 767px) {
			font-size: 3.5em;
		}
	}
	&__text{
		max-width: 7.5em;
		color: #000000;
		font-family: "Raleway";
		font-size: 1.12em;
		font-weight: 300;
		line-height: 1.332em;
		@media (max-width: 767px) {
			padding-top: 0.2em;
		}
	}
	&__img{
		margin-top: -17.42em;
		width: 100%;
		display: block;
		@media (max-width: 767px) {
			display: none;
		}
		&-mob{
			margin-top: -34em;
			width: 100%;
			display: none;
			@media (max-width: 767px) {
				display: block;
			}
		}
	}
}