@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Light.eot');
    src: url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Light.woff2') format('woff2'),
        url('../fonts/Raleway-Light.woff') format('woff'),
        url('../fonts/Raleway-Light.ttf') format('truetype'),
        url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Carbon2';
    src: url('../fonts/Carbon2.eot');
    src: url('../fonts/Carbon2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Carbon2.svg#Carbon2') format('svg'),
        url('../fonts/Carbon2.ttf') format('truetype'),
        url('../fonts/Carbon2.woff') format('woff'),
        url('../fonts/Carbon2.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gentlemens Script';
    src: url('../fonts/GentlemensScript-Regular.eot');
    src: url('../fonts/GentlemensScript-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GentlemensScript-Regular.svg#GentlemensScript-Regular') format('svg'),
        url('../fonts/GentlemensScript-Regular.ttf') format('truetype'),
        url('../fonts/GentlemensScript-Regular.woff') format('woff'),
        url('../fonts/GentlemensScript-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerNarrow-Light.eot');
    src: url('../fonts/MullerNarrow-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerNarrow-Light.svg#MullerNarrow-Light') format('svg'),
        url('../fonts/MullerNarrow-Light.ttf') format('truetype'),
        url('../fonts/MullerNarrow-Light.woff') format('woff'),
        url('../fonts/MullerNarrow-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegularItalic.eot');
  src: url('../fonts/MullerRegularItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MullerRegularItalic.svg#MullerRegularItalic') format('svg'),
       url('../fonts/MullerRegularItalic.ttf') format('truetype'),
       url('../fonts/MullerRegularItalic.woff') format('woff'),
       url('../fonts/MullerRegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.eot');
  src: url('../fonts/MullerRegular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MullerRegular.svg#MullerRegular') format('svg'),
       url('../fonts/MullerRegular.ttf') format('truetype'),
       url('../fonts/MullerRegular.woff') format('woff'),
       url('../fonts/MullerRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/Muller-ExtraBold.eot');
    src: url('../fonts/Muller-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Muller-ExtraBold.woff2') format('woff2'),
        url('../fonts/Muller-ExtraBold.woff') format('woff'),
        url('../fonts/Muller-ExtraBold.ttf') format('truetype'),
        url('../fonts/Muller-ExtraBold.svg#Muller-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}