.headband

	img(class='headband__background' src='img/headband-background.jpg' alt='headband-background')

	img(class='headband__background-mob' src='img/headband-backgroundMob.jpg' alt='headband-backgroundMob')

	.headband__wrapper

		.headband__container

			.headband__title Специально для этого, мы разработали застравку с Pepsi