.headband.parallaxBox

	img(class='headband__background' src='img/headband-background.jpg' alt='headband-background')

	img(class='headband__bottle parallaxMouse' src='img/bottle.png' alt='headband-bottle' data-speed='0.8')

	.headband__wrapper

		.headband__container

			.headband__title Специально для этого, мы разработали застравку с Pepsi

			img(class='headband__media' src='img/pepsico.gif' alt='pepsico-gif')