.location

	.location__container

		.location__title СЮЖЕТ <span class='location__title-num'>1</span>

		.location__titlesub ЛОКАЦИЯ СЪЕМОК - ЗАВОД LAYS В КАШИРЕ

		.location__set

			.location__item

				.location__num 2002

				.location__text год основания завода

			.location__item

				.location__num 1 000

				.location__text Постоянных сотрудников

			.location__item

				.location__num 25гА

				.location__text Общая площадь

			.location__item

				.location__num 900

				.location__text Тонн картофеля в день

			.location__item

				.location__num 110

				.location__text Тонн масла в день

			.location__item

				.location__num 12

				.location__text Тонн специй в день

	img(src='img/location-background.png' alt='location-img' class='location__img')

	img(src='img/location-backgroundMob.png' alt='location-mob' class='location__img-mob')

	//- location-background