.look.parallaxBox

	img(src='img/pack4.png' alt='look-pack' class='look__pack parallaxMouse' data-speed='1.2')

	img(src='img/bank2.png' alt='look-bank' class='look__bank parallaxMouse' data-speed='0.4')

	.look__container

		.look__title ПОСМОТРИТЕ

		.look__titlesub Что у нас получилось

		.look__video

			.look__knob

				.look__knob-link(data-toggle='modal' data-target='#previwe')

					img(src='img/look-play.png' alt='look-play' class='look__play')