.look

	img(src='img/look-background.png' alt='look-background' class='look__background')

	.look__container

		.look__title ПОСМОТРИТЕ

		.look__knob

			a(href='https://www.youtube.com/watch?v=N-U-UtoAyPg' data-fancybox='video' class='look__knob-link')

				img(src='img/look-play.png' alt='look-play' class='look__play')