.look

	img(src='img/look-background.png' alt='look-background' class='look__background')

	.look__container

		.look__title ПОСМОТРИТЕ

		.look__knob

			.look__knob-link(data-toggle='modal' data-target='#previwe')

				img(src='img/look-play.png' alt='look-play' class='look__play')