.look

	img(src='img/look-background.png' alt='look-background' class='look__background')

	img(src='img/look-backgroundMob.png' alt='look-backgroundMob' class='look__background-mob')

	img(src='img/pack4.png' alt='look-pack' class='look__pack')

	.look__container

		.look__title ПОСМОТРИТЕ

		.look__knob

			.look__knob-link(data-toggle='modal' data-target='#previwe')

				img(src='img/look-play.png' alt='look-play' class='look__play')