.major

	img(src='img/major-background.jpg' alt='major-background' class='major__background')

	.major__container

		.major__title Документальный фильм

		.major__play

			.major__play-knob(data-toggle='modal' data-target='#previwe')

				img(src='img/logo.png' alt='logo')

				<svg class='major__play-detail' xmlns="http://www.w3.org/2000/svg" width="24" height="28" viewBox="0 0 24 28"><g><g><path d="M23.734 14L.266 27.547V.45z"/></g></g></svg>

			.major__play-text Посмотрите трейлер