.major.parallaxBox

	img(src='img/major-background.jpg' alt='major-background' class='major__background')

	img(src='img/pepsico.svg' alt='major-pepsico' class='major__logotype')

	img(src='img/bank.png' alt='major-bank' class='major__bank parallaxMouse' data-speed='1.2')

	img(src='img/water1.png' alt='major-water' class='major__water-left parallaxMouse' data-speed='0.5')
	
	img(src='img/water2.png' alt='major-water' class='major__water-right parallaxMouse' data-speed='0.4')

	.major__container

		.major__title Документальный фильм

		.major__play

			.major__play-knob(data-toggle='modal' data-target='#previwe')

				img(src='img/logo.png' alt='logo')

				<svg class='major__play-detail' xmlns="http://www.w3.org/2000/svg" width="24" height="28" viewBox="0 0 24 28"><g><g><path d="M23.734 14L.266 27.547V.45z"/></g></g></svg>

			.major__play-text Посмотрите трейлер