.materials.parallaxBox

	img(src='img/pepper.png' class='materials__pepper parallaxMouse' alt='pepper' data-speed='0.6')
		
	img(src='img/condiment.png' class='materials__condiment parallaxMouse' alt='condiment' data-speed='0.6')

	.materials__pack

		img(src='img/pack-underarm.png' class='materials__pack-underarm parallaxMouse' alt='pack-underarm' data-speed='0.6')

		img(src='img/pack.png' class='materials__pack-img parallaxMouse' alt='materials__pack' data-speed='1.2')
			
		img(src='img/pack-atop.png' class='materials__pack-atop parallaxMouse' alt='pack-atop' data-speed='1.8')

	.materials__container

		.materials__head

			.materials__title ИЗУЧАЕМ <span class='materials__title-detail'>АРХИВНЫЕ МАТЕРИАЛЫ</span> ДЛЯ ФИЛЬМА

			.materials__titlesub Вся эта информация пригодится для закадрового голоса

		.materials__set

			.materials__box

				img(src='img/materials1.png' class='materials__img wow' alt='materials1')

				.materials__name 1959 год - Никита Хрущев пробует пепси

			.materials__box

				img(src='img/materials2.png' class='materials__img wow' alt='materials2')

			.materials__box

				img(src='img/materials3.png' class='materials__img wow' alt='materials3')

				.materials__name Почтовая открытка в стиле Pepsi

			.materials__box

				img(src='img/materials4.png' class='materials__img wow' alt='materials4')

				.materials__name Как менялся логотип Pepsi