.myth

	.myth__container

		img(src='img/crisps.png' class='myth__crisps' alt='crisps')

		img(src='img/face.png' class='myth__face' alt='face')

		.myth__title САМЫЙ <span class='myth__title-detail'>ПОПУЛЯРНЫЙ МИФ</span> О ЧИПСАХ LAYS: ИХ ДЕЛАЮТ НЕ ИЗ КАРТОФЕЛЯ

		.myth__titlesub Решение:

		.myth__text Показать все процессы производства чипсов Lay's