.myth.parallaxBox

	.myth__container

		.myth__crisps

			img(src='img/crisps.png' class='wow parallaxMouse' alt='crisps' data-speed='0.8')

		.myth__face

			img(src='img/face.png' alt='face')

		.myth__title САМЫЙ <span class='myth__title-detail'>ПОПУЛЯРНЫЙ МИФ</span> О ЧИПСАХ LAYS: ИХ ДЕЛАЮТ НЕ ИЗ КАРТОФЕЛЯ

		.myth__titlesub Решение:

		.myth__text Показать все процессы производства чипсов Lay's