.presentation.parallaxBox

	img(src='img/sugar.png' alt='sugar' class='presentation__sugar parallaxMouse' data-speed='0.8')

	.presentation__container

		.presentation__head

			.presentation__title СЮЖЕТ <span class='presentation__title-num'>2</span>

			.presentation__titlesub КОМПАНИЯ PEPSI CO ХОТЕЛА ПРЕЗЕНТАВАТЬ НОВЫЕ ПРОДУКТЫ В НИШЕ НАПИТКОВ

			.presentation__text Для этого мы провели интервью с менеджером по маркетингу, которая рассказала нам об основных трендах на рынке

		.presentation__wrapper

			img(class='presentation__img wow' src='img/presentation.png' alt='presentation')

			.presentation__content

				.presentation__advantage Меньше сахара

				.presentation__advantage Меньше соли

				.presentation__advantage Меньше соли