.stages.parallaxBox

	img(src='img/potatoes.png' class='stages__potatoes' alt='stages__potatoes')
		
	img(src='img/pack3.png' class='stages__pack parallaxMouse' alt='stages__pack' data-speed='0.6')

	.stages__container

		.stages__for

			.stages__for-box

				img(src='img/stages1.png' class='stages__for-img wow' alt='stages1')

				.stages__for-content

					.stages__for-name Машина отгрузила картофель на конвейер

			.stages__for-box

				img(src='img/stages2.png' class='stages__for-img wow' alt='stages2')

				.stages__for-content

					.stages__for-name Сортировка картофеля

			.stages__for-box

				img(src='img/stages3.png' class='stages__for-img wow' alt='stages3')

				.stages__for-content

					.stages__for-name Мойка картофеля

			.stages__for-box

				img(src='img/stages4.png' class='stages__for-img wow' alt='stages4')

				.stages__for-content

					.stages__for-name Чистка картофеля

			.stages__for-box

				img(src='img/stages5.png' class='stages__for-img wow' alt='stages5')

				.stages__for-content

					.stages__for-name Нарезка на слайсы,<br>в зависимости от типа чипсов

					.stages__for-namesub Нарезка на слайсы, в зависимости от типа чипсов

			.stages__for-box

				img(src='img/stages6.png' class='stages__for-img wow' alt='stages6')

				.stages__for-content

					.stages__for-name Обжарка слайсов

			.stages__for-box

				img(src='img/stages7.png' class='stages__for-img wow' alt='stages7')

				.stages__for-content

					.stages__for-name Добавление специй

			.stages__for-box

				img(src='img/stages8.png' class='stages__for-img wow' alt='stages8')

				.stages__for-content

					.stages__for-name Фасовка по упаковкам

		.stages__nav

			.stages__nav-prev

			.stages__nav-set

				.stages__nav-box
				.stages__nav-box
				.stages__nav-box
				.stages__nav-box
				.stages__nav-box
				.stages__nav-box
				.stages__nav-box
				.stages__nav-box

			.stages__nav-next