.tasks.parallaxBox

	img(src='img/vegetables.png' class='tasks__vegetables parallaxMouse' alt='vegetables' data-speed='-0.8')
	img(src='img/vegetablesMob.png' class='tasks__vegetables-mob' alt='vegetables-mob')

	img(src='img/pack2.png' class='tasks__pack parallaxMouse' alt='tasks__pack' data-speed='1.2')
	img(src='img/pack2Mob.png' class='tasks__pack-mob' alt='tasks__pack-mob')

	.tasks__container

		.tasks__title ЗАДАЧИ ДОКУМЕНТАЛЬНОГО ФИЛЬМА

		.tasks__set

			.tasks__item
				.tasks__item-text Повысить лояльность аудитории к бренду

			.tasks__item
				.tasks__item-text Развеять мифы о производстве снеков

			.tasks__item
				.tasks__item-text Презентовать новые виды напитков

			.tasks__item
				.tasks__item-text Рассказать о необычном маркетинге компании